<div class="block--light brand-block">
  <div class="grid grid--brand container">
    <img src="/icons/679394204b98f1f0378d4440716d148f.png" alt="" />
    <img src="/icons/29947e2c0b2a463e0f57e1da6af8ba07.png" alt="" />
    <img src="/icons/e7c6f0d4fde45a3493ccd370cd10a230.png" alt="" />
    <img src="/icons/0cb926c2211201db0bfd05eda81916e3.png" alt="" />
    <img src="/icons/ca3c956e1057b5ce2863c5f0a21c09e3.png" alt="" />
    <img src="/icons/63ba8fb238e22d52ced543c07bae7c77.png" alt="" />
  </div>
</div>
