<!--                                                                    feature card -->
<div class="card card--feature">
  <img class="card__image" src="/images/gffgfg.jpg" alt="" />
  <h3 class="card__title">Development</h3>
  <p class="card__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In voluptas
    repellendus fuga, quidem eligendi doloribus. Magnam aut quaerat temporibus
    quod!
  </p>
  <a class="button button--primary" href="#">More</a>
</div>

<!--                                                                    team card -->
<div class="card card--team">
  <div class="member__image">
    <img class="card__image" src="/images/gffgfg.jpg" alt="" />
  </div>
  <div class="member__description">
    <span class="card__title">manager</span>
    <h3 class="card__member-name">shakthi</h3>
    <p class="card__description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
      delectus?
    </p>
    <div class="card__social-plugins">
      <a href="#">
        <svg class="icon">
          <use xlink:href="/icons/It-svg-icons.svg#facebook-brands"></use>
        </svg>
      </a>
      <a href="#"
        ><svg class="icon">
          <use
            xlink:href="/icons/It-svg-icons.svg#twitter-square-brands"
          ></use></svg
      ></a>
      <a href="#"
        ><svg class="icon">
          <use
            xlink:href="/icons/It-svg-icons.svg#instagram-square-brands"
          ></use></svg
      ></a>
    </div>
  </div>
</div>
