<div class="block block--dark">
  <div class="container">
    <h2 class="feature__heading">Development Services</h2>
    <p class="feature__description">
      Sample text. Click to select the text box. Click again or double click to
      start editing the text.
    </p>
    <div class="grid grid--2x3">
      <div class="card card--feature">
        <img
          class="card__image"
          src="/images/cc24004b-3648-459a-a427-92b968bd416b.jpg"
          alt=""
        />
        <h3 class="card__title">App Development</h3>
        <p class="card__description">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="button button--primary" href="#">More</a>
      </div>
      <!--  -->

      <div class="card card--feature">
        <img
          class="card__image"
          src="/images/8fd61bc0-5bae-1121-8583-3332d09cf9eb.jpg"
          alt=""
        />
        <h3 class="card__title">Mobility Services</h3>
        <p class="card__description">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="button button--primary" href="#">More</a>
      </div>
      <!--  -->

      <div class="card card--feature">
        <img class="card__image" src="/images/rttyrrt.jpg" alt="" />
        <h3 class="card__title">Consulting</h3>
        <p class="card__description">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="button button--primary" href="#">More</a>
      </div>
      <!--  -->

      <div class="card card--feature">
        <img class="card__image" src="/images/uuyu-min.jpg" alt="" />
        <h3 class="card__title">Team Extension</h3>
        <p class="card__description">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="button button--primary" href="#">More</a>
      </div>
      <!--  -->

      <div class="card card--feature">
        <img class="card__image" src="/images/ffff.jpg" alt="" />
        <h3 class="card__title">Applications</h3>
        <p class="card__description">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="button button--primary" href="#">More</a>
      </div>
      <!--  -->

      <div class="card card--feature">
        <img
          class="card__image"
          src="/images/857e458e-9e41-49d2-b73d-78302d0b9b3d.jpg"
          alt=""
        />
        <h3 class="card__title">24/7 Support</h3>
        <p class="card__description">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident.
        </p>
        <a class="button button--primary" href="#">More</a>
      </div>
      <!--  -->
    </div>
  </div>
</div>
