<div class="block block--light">
  <div class="grid grid--team container">
    <section class="solution-section">
      <h2 class="solution__heading">
        Preparing For Your Success Provide Best IT Solutions.
      </h2>
      <a class="button button--primary" href="#">More</a>
    </section>
    <section class="rank-section">
      <img class="rank__image" src="/images/pexels-photo-2102415.jpeg" alt="" />
      <h2 class="rank__heading">Top Ranked Program</h2>
      <p class="rank__description">
        In mollis nunc sed id semper risus in hendrerit gravida. Aliquet enim
        tortor at auctor urna nunc id cursus. Risus at ultrices mi tempus
        imperdiet. Sapien pellentesque habitant morbi tristique senectus et
        netus. Id cursus metus aliquam eleifend mi in. Quis commodo odio aenean
        sed.
      </p>
    </section>
  </div>
</div>
