<div class="block block--dark team-block">
  <div class="container">
    <h2 class="team__heading">Meet The Team</h2>
    <div class="grid grid--team">
      <div class="card card--team">
        <div class="member__image">
          <img
            class="card__image"
            src="/images/b5f9e7f9-f0cf-42fb-96c9-3156bc7d64a2.jpg"
            alt=""
          />
        </div>
        <div class="member__description">
          <span class="card__title">creative leader</span>
          <h3 class="card__member-name">Bob Brown</h3>
          <p class="card__description">
            Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis
            glavrid from dolor amet iquam lorem bibendum
          </p>
          <div class="card__social-plugins">
            <a href="#">
              <svg class="icon">
                <use xlink:href="/icons/It-svg-icons.svg#facebook-brands"></use>
              </svg>
            </a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#twitter-square-brands"
                ></use></svg
            ></a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#instagram-square-brands"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="card card--team">
        <div class="member__image">
          <img
            class="card__image"
            src="/images/13064dd8-b859-4a0d-8b5b-0944d529a9c2.jpg"
            alt=""
          />
        </div>
        <div class="member__description">
          <span class="card__title">sales manager</span>
          <h3 class="card__member-name">Mary Smith</h3>
          <p class="card__description">
            Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis
            glavrid from dolor amet iquam lorem bibendum
          </p>
          <div class="card__social-plugins">
            <a href="#">
              <svg class="icon">
                <use xlink:href="/icons/It-svg-icons.svg#facebook-brands"></use>
              </svg>
            </a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#twitter-square-brands"
                ></use></svg
            ></a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#instagram-square-brands"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="card card--team">
        <div class="member__image">
          <img class="card__image" src="/images/gffgfg.jpg" alt="" />
        </div>
        <div class="member__description">
          <span class="card__title">manager</span>
          <h3 class="card__member-name">Jonh Rich</h3>
          <p class="card__description">
            Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis
            glavrid from dolor amet iquam lorem bibendum
          </p>
          <div class="card__social-plugins">
            <a href="#">
              <svg class="icon">
                <use xlink:href="/icons/It-svg-icons.svg#facebook-brands"></use>
              </svg>
            </a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#twitter-square-brands"
                ></use></svg
            ></a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#instagram-square-brands"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
      <!--  -->

      <div class="card card--team">
        <div class="member__image">
          <img
            class="card__image"
            src="/images/76ad54de-76a3-4973-8d72-5982d76db00c.jpg"
            alt=""
          />
        </div>
        <div class="member__description">
          <span class="card__title">chief accountant</span>
          <h3 class="card__member-name">Nat Reynolds</h3>
          <p class="card__description">
            Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis
            glavrid from dolor amet iquam lorem bibendum
          </p>
          <div class="card__social-plugins">
            <a href="#">
              <svg class="icon">
                <use xlink:href="/icons/It-svg-icons.svg#facebook-brands"></use>
              </svg>
            </a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#twitter-square-brands"
                ></use></svg
            ></a>
            <a href="#"
              ><svg class="icon">
                <use
                  xlink:href="/icons/It-svg-icons.svg#instagram-square-brands"
                ></use></svg
            ></a>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
