<div class="block">
  <div class="grid grid--tflex container">
    <section class="testimonial-block">
      <h2 class="testimonial__heading">Testimonials</h2>
      <p class="testimonial__description">
        We offer many weekly exercise classes including Aqua Fitness, Body
        Sculpting, Boot Camps, Pilates, Group Cycle, Tai Chi, Yoga, and Zumba.
      </p>
      <img
        class="testimonial__image"
        src="/images/pexels-photo-2058138.jpeg"
        alt=""
      />
    </section>
    <section class="description-block block--light">
      <div>
        <svg class="description__icon">
          <use xlink:href="/icons/It-svg-icons.svg#lightbulb_black_24dp"></use>
        </svg>
        <p>
          Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus
          dolor. A lacus vestibulum sed arcu non. Dolor magna eget est lorem
          ipsum dolor sit amet consectetur.
        </p>
      </div>
    </section>
  </div>
</div>
