@import "/styles/normalize.css";

:root {
  --color-primary: #2735ea;
  --color-secondary: #bdb6b4;
  --color-dark-bg-block: #292d33;
  --color-light-bg-block: #f1f1f1;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.font--different {
  font-family: "Montserrat", sans-serif;
}

/* Butttons */
.button {
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0 auto;
  padding: 11px 27px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button--primary:hover {
  background-color: #3c48f1;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 426px) {
  .grid--common {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--brand {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 550px) {
  .grid--tflex {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media screen and (min-width: 769px) {
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--team {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--brand {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Blocks */
.block {
  text-align: center;
}

.block--dark {
  background-color: var(--color-dark-bg-block);
  color: white;
}

.block--light {
  background-color: var(--color-light-bg-block);
}

.container {
  margin: 0 auto;
  padding: 4.5rem;
  max-width: 1250px;
}

/* Media */
.media {
  margin: 1rem;
  background-color: white;
  display: flex;
  padding: 3rem 1.5rem;
  gap: 1.5rem;
  max-height: fit-content;
  max-width: 36rem;
}

.media__icon {
  flex-shrink: 0;
  margin-top: 1rem;
  width: 35px;
  height: 35px;
}

.media__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.media__heading {
  font-size: 1.8rem;
}

.media__content {
  font-size: 1.2rem;
}

/* Cards */
.card {
  color: black;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 5rem 2.5rem 1rem;
  padding: 2.4rem;
}

.card__image {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  align-self: center;
}

/*                                    feature type */
.card--feature {
  text-align: center;
}

.card--feature .card__image {
  transform: translateY(-5rem);
  border: 5px solid white;
  box-shadow: 4px 4px 20px -7px black;
}

.card--feature .card__title {
  margin-top: -4rem;
  font-size: 2rem;
}

.card--feature .card__description {
  margin-top: -2rem;
}

/*                                       team type */
.card--team {
  text-align: left;
}

.member__image {
  align-self: center;
}

.member__description {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 3ch;
  gap: 1.5rem;
}

.card--team .card__title {
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.6rem;
}

.card__member-name {
  color: var(--color-primary);
  font-size: 2.6rem;
  margin: 0;
}

.card--team .card__description {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
  max-width: 350px;
}

.card__social-plugins {
  display: flex;
  gap: 2rem;
}

.card__social-plugins .icon {
  width: 30px;
  height: 30px;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 426px) {
  .card--team {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .card--team {
    flex-direction: column;
  }
}

@media screen and (min-width: 1025px) {
  .card--team {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Form block */
.form--bg {
  background: url(/images/pexels-photo-2422294.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
}

.form-block {
  background-color: white;
  border-radius: 30px;
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem;
  text-align: left;
}

.form__heading {
  text-align: center;
  font-size: 2rem;
}

.form-block > label {
  display: flex;
  flex-direction: column;
}

.form-block label,
.form-block button {
  margin-top: 1rem;
}

.form-block input,
.form-block textarea {
  background-color: var(--color-light-bg-block);
  border: 0;
  flex-shrink: 1;
}

.form-block input {
  height: 3rem;
}

.form-block .button {
  font-size: 0.8rem;
  padding: 7px 20px;
}

@media screen and (min-width: 600px) {
  .form-block {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .form__heading,
  .form-block label[for="message"],
  .form-block .button {
    grid-column: 1 / -1;
  }

  .form__heading {
    font-size: 4rem;
  }

  .form-block label {
    font-size: 1.8rem;
  }

  .form-block input {
    height: 4rem;
  }

  .form-block input,
  .form-block textarea {
    margin-top: 0.8rem;
  }

  .form-block .button {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
}

/* Hero block */
.hero-block {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(/images/pexels-photo-3285196.jpeg), no-repeat;
  background-position: center;
  background-size: cover;
  height: 53rem;
  color: white;
  padding: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.hero__heading {
  padding-top: 8rem;
  font-size: 4.4rem;
  line-height: 3.5rem;
}

.hero__description {
  font-size: 2.5rem;
  max-width: 400px;
  line-height: 2.7rem;
  font-weight: bolder;
}

@media screen and (min-width: 460px) {
  .hero__heading {
    font-size: 7.4rem;
  }
}

@media screen and (min-width: 769px) {
  .hero-block {
    height: 64rem;
  }

  .hero__heading {
    font-size: 10rem;
  }

  .hero__description {
    line-height: 3.5rem;
    font-size: 3rem;
    max-width: 500px;
  }
}

@media screen and (min-width: 1025px) {
  .hero-block {
    padding-left: 9rem;
    height: 70rem;
  }

  .hero__heading {
    margin-bottom: 3.5rem;
  }

  .hero__description {
    max-width: 600px;
  }
}

/* Media block */
.media-block {
  margin: 1rem 4rem -10rem;
  max-width: fit-content;
  transform: translateY(-10rem);
}

/* solution and rank block */
/*                                             solution section */
.solution-section {
  margin-bottom: 3.5rem;
  background-color: white;
  color: black;
  text-align: left;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.solution-section a {
  margin-left: 1rem;
}

.solution__heading {
  margin-left: 1rem;
  font-size: 3.5rem;
  line-height: 2.5ch;
  margin-bottom: 5rem;
}

@media screen and (min-width: 769px) {
  .solution-section {
    padding: 0 2rem;
    margin-right: 6rem;
    height: 100%;
    justify-content: center;
  }
}

/*                                              Rank section */
.rank-section {
  text-align: left;
}
.rank__image {
  width: 80%;
  max-width: 30rem;
}

.rank__heading {
  font-size: 1.8rem;
  margin-bottom: 5rem;
}

.rank__description {
  font-size: 1.5rem;
  color: var(--color-dark-bg-block);
}

/* Feature block */
.feature__heading {
  font-size: 3rem;
  line-height: 2ch;
}

.feature__description {
  font-size: 1.6rem;
  line-height: 2.5ch;
}

/* Testimonial and description block */
/*                                                   Testimonial section */
.testimonial-block {
  padding: 0 3rem;
}

.testimonial__heading {
  font-size: 3.5rem;
}

.testimonial__description {
  margin: 3rem 0;
  font-size: 1.5rem;
  line-height: 2.5ch;
}

.testimonial__image {
  width: 100%;
  height: 25rem;
  max-width: 20rem;
}
/*                                                   description section */
.description-block {
  align-items: center;
  color: var(--color-dark-bg-block);
  display: flex;
  font-size: 1.6rem;
  height: 100%;
  line-height: 3ch;
  margin-top: 2rem;
  padding: 2rem 1rem;
  text-align: left;
}

.description__icon {
  width: 10rem;
  height: 10rem;
  background-color: var(--color-primary);
  border-radius: 10rem;
}

/* team block */
.team__heading {
  font-size: 3rem;
  line-height: 2ch;
}

/* Brand block */
.brand-block img {
  width: 80%;
  justify-self: center;
  align-self: center;
}

/* location block */
.location-block {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bolder;
}

.location {
  margin-top: 1rem;
  font-size: 5rem;
  line-height: 2.5ch;
}

.location::after {
  content: "_____";
  color: var(--color-primary);
  font-size: 8rem;
}
