@import "/styles/normalize.css";

:root {
  --color-primary: #2735ea;
  --color-secondary: #bdb6b4;
  --color-dark-bg-block: #292d33;
  --color-light-bg-block: #f5f5f5;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.font--different {
  font-family: "Montserrat", sans-serif;
}

/* Butttons */
.button {
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 100;
  margin: 0 auto;
  padding: 11px 27px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button--primary:hover {
  background-color: #3c48f1;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 426px) {
  .grid--common {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--brand {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--team {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--brand {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Blocks */
.block {
  padding: 6rem;
  text-align: center;
}

.block--dark {
  background-color: var(--color-dark-bg-block);
  color: white;
}

.block--light {
  background-color: var(--color-light-bg-block);
}

/* Media */
.media {
  margin: 0;
  display: flex;
  padding: 3rem 1.5rem;
  gap: 1.5rem;
  height: 160px;
}

.media__icon {
  flex-shrink: 0;
  margin-top: 1rem;
  width: 35px;
  height: 35px;
}

.media__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.media__heading {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.media__content {
  font-size: 1.2rem;
}

/* Cards */
.card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 5rem;
  padding: 2.4rem;
}

.card__image {
  border-radius: 100px;
  width: 150px;
  align-self: center;
}

/*                                    feature type */
.card--feature {
  text-align: center;
}

.card--feature .card__image {
  transform: translateY(-5rem);
  border: 5px solid white;
  box-shadow: 4px 4px 20px -7px black;
}

.card--feature .card__title {
  margin-top: -4rem;
  font-size: 2rem;
}

.card--feature .card__description {
  margin-top: -2rem;
}

/*                                       team type */
.member__image {
  align-self: center;
}

.member__description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card--team .card__title {
  margin-top: 2rem;
  color: var(--color-secondary);
  font-size: 1.6rem;
}

.card__member-name {
  color: var(--color-primary);
  font-size: 2.6rem;
  margin: 0;
}

.card--team .card__description {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 2rem;
  max-width: 350px;
}

.card__social-plugins {
  display: flex;
  gap: 2rem;
}

.card__social-plugins .icon {
  width: 30px;
  height: 30px;
  margin-bottom: 1.6rem;
}

@media screen and (min-width: 426px) {
  .card--team {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px) {
  .card--team {
    flex-direction: column;
  }
}

@media screen and (min-width: 1025px) {
  .card--team {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Form block */
.form--bg {
  background: url(/images/pexels-photo-2422294.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
}

.form-block {
  background-color: white;
  border-radius: 30px;
  display: grid;
  font-weight: bold;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  padding: 3rem;
  text-align: left;
}

.form__heading {
  text-align: center;
  font-size: 2rem;
}

.form-block > label {
  display: flex;
  flex-direction: column;
}

.form-block label,
.form-block button {
  margin-top: 1rem;
}

.form-block input,
.form-block textarea {
  background-color: var(--color-light-bg-block);
  border: 0;
  flex-shrink: 1;
}

.form-block input {
  height: 3rem;
}

.form-block .button {
  font-size: 0.8rem;
  padding: 7px 20px;
}

@media screen and (min-width: 600px) {
  .form-block {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .form__heading,
  .form-block label[for="message"],
  .form-block .button {
    grid-column: 1 / -1;
  }

  .form__heading {
    font-size: 4rem;
  }

  .form-block label {
    font-size: 1.8rem;
  }

  .form-block input {
    height: 4rem;
  }

  .form-block input,
  .form-block textarea {
    margin-top: 0.8rem;
  }

  .form-block .button {
    font-size: 1.4rem;
    padding: 1rem 3rem;
  }
}
