@import "/styles/normalize.css";

:root {
  --color-primary: #2735ea;
  --color-bg-block: #292d33;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.font--different {
  font-family: "Montserrat", sans-serif;
}

/* Butttons */
.button {
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 11px 27px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button--primary:hover {
  background-color: #3c48f1;
}
