@import "/styles/normalize.css";

:root {
  --color-primary: #2735ea;
  --color-dark-bg-block: #292d33;
  --color-light-bg-block: #f5f5f5;
}

*,
*::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.font--different {
  font-family: "Montserrat", sans-serif;
}

/* Butttons */
.button {
  border-radius: 20px;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 11px 27px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--primary {
  background-color: var(--color-primary);
  color: white;
}

.button--primary:hover {
  background-color: #3c48f1;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 426px) {
  .grid--common {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--brand {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) {
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid--team {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--brand {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Blocks */
.block {
  padding: 6rem;
  text-align: center;
}

.block--dark {
  background-color: var(--color-dark-bg-block);
  color: white;
}

.block--light {
  background-color: var(--color-light-bg-block);
}

/* Media */
.media {
  margin: 0;
  display: flex;
  padding: 3rem 1.5rem;
  gap: 1.5rem;
  height: 160px;
}

.media__icon {
  flex-shrink: 0;
  margin-top: 1rem;
  width: 35px;
  height: 35px;
}

.media__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.media__heading {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.media__content {
  font-size: 1.2rem;
}
